    <style>
    body {
      background-color: #f8f9fa;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .login-container {
      width: 500px;
      padding: 2rem;
      background: #fff;
      border-radius: 8px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }
    .login-logo img {
      max-width: 300px;
      margin-bottom: 1.5rem;
    }
  </style>
  
  <div class="login-container text-center">
    <!-- Logo -->
    <div class="login-logo">
      <img src="{{ file_url('public://LOGO.png') }}" alt="Logo">
    </div>

    <!-- Login Form -->
      {{ page.content }}

    <!-- Additional Links -->
    <div class="mt-3">
      <a href="{{base_path }}/portail/user/password" class="text-decoration-none">Mot de pass oublié ?</a>
    </div>
  </div>