
<h6 class="text-center">Lire aussi</h6>
<div class="box ">
   {% for row in rows %}
   <div class="announcement-card p-0">
   <img src="{{file_url(row.content['#row']._entity.field_image_actualite.entity.uri.value)}}" alt="" style="object-fit:cover;height:70px" class="img-fluid w-25 ">
                 <a href="{{ url('entity.node.canonical', {'node': row.content['#row']._entity.nid.value}) }}" >  <h5 class="card-title2 p-2"> {{row.content['#row']._entity.field_libelle[0].value|slice(0, 50)}}  </h5></a>

   </div>

 
        
{% endfor %}
     <div class="mt-4 text-center">
          <a href="{{ base_path }}/portail/actualite"><button class="annoncesbtn">Voir tous</button></a>
        </div>
</div>






