 
 <div class="navbar-custom">

 <nav class="navbar navbar-expand-lg container">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto d-flex align-items-center">
      
          <li class="nav-item">
        <i class="fas fa-sun" id="tooltip-button" data-bs-toggle="modal" data-bs-target="#weatherModal2"></i>
        <div id="tooltip" class="tooltip mt-2"></div>

          </li>
          <li>
<i data-bs-toggle="modal" id="tooltip-button2" data-bs-target="#prayerTimesModal" class="fas fa-mosque"></i>
         <div id="tooltip2" class="tooltip mt-2"></div>
          </li>

            <li>
 | <i class="fab fa-facebook"></i>
          </li>
        <li>
<i class="fab fa-instagram"></i>
          </li>

            <li>
<i class="fab fa-youtube"></i>
          </li>
          <li class="nav-item">
    
            <button type="button" class="btn btn-dark"><i class="fas fa-user"></i> Espace Citoyen</button>

          </li>
        </ul>
      </div>
    </div>
  </nav>
 </div>

<div class="modal fade" id="prayerTimesModal" tabindex="-1" aria-labelledby="prayerTimesLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="prayerTimesLabel">Horaires de prière dans la region</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="prayer-times-grid" class="container">
          <div class="spinner-border" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="weatherModal2" tabindex="-1" aria-labelledby="weatherModal2Label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="weatherModal2Label">Météo de la region</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="weather-grid2" class="container">
          <p class="text-center">Loading...</p>
        </div>
      </div>
    </div>
  </div>
</div>