<div class="container-fluid p-0">
  <div class="row g-0">
    <!-- Box 1 -->
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="box box-orange d-flex align-items-start justify-content-start p-5">
        <div class="content ">
     
          <h4 class="title">Tenue de la 2ème session ordinaire du Conseil d’Orientation et de Suivi de ....
</h4>
          <p class="description">
            M. le Wali Directeur Général des Collectivités Territoriales, Jelloul SAMSSEME, a présidé, le mercredi 25 décembre 2024, au siège de la Direction Générale des Collectivités Territoriales à Rabat, la réunion du Conseil d’Orientation et de Suivi (COS), de la Fondation des Œuvres Sociales des Fonctionnaires des Collectivités Territoriales, de leurs Groupements ...
          </p>
          <button class="btn btn-dark  btn-bottom-left mt-3">En savoir plus</button>
        </div>
      </div>
    </div>
    <!-- Box 2 -->
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="box box-green d-flex align-items-start justify-content-end p-5">
        <div class="content text-end">
          <h4 class="title text-right">نتائج الدعوة الرابعة</h4>
          <p class="description">
           يعود الماراطون الدولي للدار البيضاء في دورته الخامسة عشر كموعد راسخ في الأجندة الرياضية لمدينة الدار البيضاء، بمشاركة قوية للآلاف من هواة هذه الرياضة العريقة. وتعكس هذه الدورة، التي تنعقد تحت الرعاي...
          </p>
          <button class="btn btn-dark  btn-bottom-right mt-3">En savoir plus</button>
        </div>
      </div>
    </div>
    <!-- Box 3 -->
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="box box-pink d-flex align-items-start justify-content-start p-5">
        <div class="content ">
        
          <h4 class="title">Tenue de la 2ème session ordinaire du Conseil d’Orientation et de Suivi de ....
</h4>
          <p class="description">
            Tenue de la 2ème session ordinaire du Conseil d’Orientation et de Suivi de la Fondation des Œuvres Sociales des Fonctionnaires des Collectivités Territoriales, de leurs Groupements et leurs Instances.
          </p>
          <button class="btn btn-dark  btn-bottom-left mt-3">En savoir plus</button>
        </div>
      </div>
    </div>
    <!-- Box 4 -->
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="box box-teal d-flex align-items-start justify-content-end p-5">
        <div class="content text-end">
                  <h4 class="title text-right">نتائج الدعوة الرابعة</h4>

          <p class="description">
            نتائج الدعوة الرابعة لدعم التعاون في إطار الصندوق الإفريقي.
          </p>
         
          <button class="btn btn-dark  btn-bottom-right mt-3">En savoir plus</button>
        </div>
      </div>
    </div>
  </div>
</div>
