    <footer class="footer-section ">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h5>Contact</h5>
                    <p>Bienvenue dans Le portail de la region d'Errachidia</p>
                    <p>Email : <a href="mailto:portail@test.ma">portail@test.ma</a></p>
                    <p>Tel: 06 53 52 52 67</p>
                </div>
                <div class="col-md-3">
                    <h5>La Commune</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Les activités de la présidence</a></li>
                        <li><a href="#">Les sessions</a></li>
                        <li><a href="#">Les appels d'offre</a></li>
                        <li><a href="#">Les grands projets</a></li>
                             <li><a href="#">Consultation de dossier</a></li>
                                  <li><a href="#">Netlinking</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>Services</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Bureau d'Ordre Digital</a></li>
                        <li><a href="#">Chikaya</a></li>
                        <li><a href="#">Portail marchés publics</a></li>
                        <li><a href="#">Allo Mouatine</a></li>
                        <li><a href="#">Watiqa</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>Réseaux sociaux</h5>
                    <div class="social-icons">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </footer>