 <div class="navbar-custom">

 <nav class="navbar navbar-expand-lg container">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ path('<front>') }}">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Plan du site</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">FAQ / Aide</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item">
    
            <button type="button" class="btn btn-dark"><i class="fas fa-user"></i> Espace Citoyen</button>

          </li>
        </ul>
      </div>
    </div>
  </nav>
 </div>