
    <div class=" chiffres-section ">
    <div class="container">
         <h2 class="text-orange mb-4">Chiffres Clés</h2>

        <div class="row g-3">
            <div class="col-md-3 col-xs-6">
                <div data-aos="flip-left"
     data-aos-easing="ease-out-cubic"
     data-aos-duration="1000" class="chiffre-box ">
                    <h3>1.635.008</h3>
                    <p class="text-black">Habitants</p>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div data-aos="flip-left"
     data-aos-easing="ease-out-cubic"
     data-aos-duration="1000" class="chiffre-box " >
                    <h3>88 836 km²</h3>
                    <p class="text-black">Superficie de la region </p>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div data-aos="flip-left"
     data-aos-easing="ease-out-cubic"
     data-aos-duration="1000" class="chiffre-box  yellow">
                    <h3>60%</h3>
                    <p>Population -15 ans</p>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div data-aos="flip-left"
     data-aos-easing="ease-out-cubic"
     data-aos-duration="1000" class="chiffre-box  yellow">
                    <h3>15 809</h3>
                    <p>PIB national</p>
                </div>
            </div>
            <div class="col-md-4 col-xs-6">
                <div data-aos="flip-left"
     data-aos-easing="ease-out-cubic"
     data-aos-duration="1000" class="chiffre-box  red">
                    <h3>270 910 Ha
</h3>
                    <p>Superficie agricole </p>
                </div>
            </div>
            <div class="col-md-8 col-xs-6">
                <div data-aos="flip-left"
     data-aos-easing="ease-out-cubic"
     data-aos-duration="1000" class="chiffre-box ">
                    <h3>125</h3>
                    <p class="text-black">Communes | 8,3% du total national</p>
                </div>
            </div>
        </div>
    </div>
    </div>