<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <!-- Slide 1 -->
        <div class="carousel-item active" style="position: relative;">
            <img src="{{ directory }}/images/DJI_0428.jpg" class="d-block w-100" alt="Image 1">
            <div class="carousel-caption d-flex flex-column justify-content-end align-items-center text-center">
                <h2 class="anim-typewriter" style="color: #fff; font-size: 3rem; margin-bottom: 2rem;">Vue sur la ville de Midelt et Jbel Ayachi</h2>
            </div>
        </div>
        <!-- Slide 2 -->
        <div class="carousel-item" style="position: relative;">
            <img src="{{ directory }}/images/Vue errachidia.jpg" class="d-block w-100" alt="Image 2">
            <div class="carousel-caption d-flex flex-column justify-content-end align-items-center text-center">
                <h2 class="anim-typewriter" style="color: #fff; font-size: 3rem; margin-bottom: 2rem;">Vue sur la ville d'Errachidia</h2>
            </div>
        </div>
        <!-- Slide 3 -->
        <div class="carousel-item" style="position: relative;">
            <img src="{{ directory }}/images/1M2A8196_1.jpg" class="d-block w-100" alt="Image 3">
            <div class="carousel-caption d-flex flex-column justify-content-end align-items-center text-center">
                <h2 class="anim-typewriter" style="color: #fff; font-size: 3rem; margin-bottom: 2rem;">Vallée du Ziz</h2>
            </div>
        </div>
        <!-- Slide 4 -->
        <div class="carousel-item" style="position: relative;">
            <img src="{{ directory }}/images/Capture d’écran 2020-04-01 à 10.29.32_0.jpg" class="d-block w-100" alt="Image 4">
            <div class="carousel-caption d-flex flex-column justify-content-end align-items-center text-center">
                <h2 class="anim-typewriter" style="color: #fff; font-size: 3rem; margin-bottom: 2rem;">Barrage Hassan Addakhil</h2>
            </div>
        </div>
    </div>

    <!-- Contrôles du slider -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Précédent</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Suivant</span>
    </button>
</div>
