<div class="container mt-5">
    <!-- Title -->
    <h2 class="text-orange mb-4">Evenements</h2>



        <div class="row g-4">
       
         <div class="col-md-3" data-aos="zoom-out">
                            <div class="event-card">
                    <img src="{{ directory }}/images/ahwach.jpg" alt="Event Image">
                    <div class="event-card-body">
                        <div class="event-title">
                            Ahwach culture amazigh
                        </div>
                        <div class="d-flex justify-content-start align-items-center mt-5">
                         <div class="event-date d-flex align-items-center flex-column ">
                            <span>07</span>
                            <span class="date-text">May 2024</span>
                        </div>
                      
                        <div class="event-info ml-2">
                            <p><i class="fas fa-map-marker-alt"></i> Errachidia</p>
                        </div>
                        </div>
                       
                    </div>
                </div>
        </div>
        <div class="col-md-3" data-aos="zoom-out">
                            <div class="event-card">
                    <img src="{{ directory }}/images/student.jpg" alt="Event Image">
                    <div class="event-card-body">
                        <div class="event-title">
                            Hackathon web 
                        </div>
                        <div class="d-flex justify-content-start align-items-center mt-5">
                         <div class="event-date d-flex align-items-center flex-column ">
                            <span>07</span>
                            <span class="date-text">May 2025</span>
                        </div>
                      
                        <div class="event-info ml-2">
                            <p><i class="fas fa-map-marker-alt"></i> Errachidia</p>
                        </div>
                        </div>
                       
                    </div>
                </div>
        </div>
         <div class="col-md-3" data-aos="zoom-out">
                            <div class="event-card">
                    <img src="{{ directory }}/images/12.jpg" alt="Event Image">
                    <div class="event-card-body">
                        <div class="event-title">
                            Organisation d'un show
                        </div>
                        <div class="d-flex justify-content-start align-items-center mt-5">
                         <div class="event-date d-flex align-items-center flex-column ">
                            <span>07</span>
                            <span class="date-text">May 2024</span>
                        </div>
                      
                        <div class="event-info ml-2">
                            <p><i class="fas fa-map-marker-alt"></i> Errachidia</p>
                        </div>
                        </div>
                       
                    </div>
                </div>
        </div> <div class="col-md-3" data-aos="zoom-out">
                            <div class="event-card">
                    <img src="{{ directory }}/images/ann1.jpg" alt="Event Image">
                    <div class="event-card-body">
                        <div class="event-title">
                            Imilchil Cancert
                        </div>
                        <div class="d-flex justify-content-start align-items-center mt-5">
                         <div class="event-date d-flex align-items-center flex-column ">
                            <span>07</span>
                            <span class="date-text">May 2024</span>
                        </div>
                      
                        <div class="event-info ml-2">
                            <p><i class="fas fa-map-marker-alt"></i> Errachidia</p>
                        </div>
                        </div>
                       
                    </div>
                </div>
        </div>
        </div>
     </div>
 </djpg