
    <div class=" chiffres-section ">
    <div class="container">
         <h2 class="text-orange mb-4">Chiffres Clés</h2>

        <div class="row g-3">
            <div class="col-md-3 col-xs-6">
                <div class="chiffre-box">
                    <h3>4.2 M</h3>
                    <p class="text-black">Habitants à Errachidia</p>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="chiffre-box">
                    <h3>768</h3>
                    <p class="text-black">Superficie de la ville en km²</p>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="chiffre-box yellow">
                    <h3>60%</h3>
                    <p>Population -15 ans</p>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="chiffre-box yellow">
                    <h3>60%</h3>
                    <p>PIB national</p>
                </div>
            </div>
            <div class="col-md-4 col-xs-6">
                <div class="chiffre-box red">
                    <h3>60%</h3>
                    <p>Mains d'œuvre industrielle</p>
                </div>
            </div>
            <div class="col-md-8 col-xs-6">
                <div class="chiffre-box">
                    <h3>1.500.000</h3>
                    <p class="text-black">Voitures en circulation / jour</p>
                </div>
            </div>
        </div>
    </div>
    </div>